body {
  font-family: Play;
  font-size: 18px;
  background-color: #F6801D
}

input, select {
  margin-top: 10px;
  margin-bottom: 20px;
}
 .success {
   font-size: 1.5em;
   padding: 20%;
   text-align: center;
 }

.termycond, label {
  display: block;
}

button {
  font-family: Play;
  font-weight: bold;
  margin: 0 10px;
  background-color: #F1E945;
  border-color: #E67E22;
  color: black;
  padding: 8px;
}
