*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background: #000 url(../img/fondo.jpg) ;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
}

.container{
	/*margin: 0 auto;*/
	width:70%;
	display: flex;
	/*flex-direction: row;*/
	flex-wrap: wrap;
}

/*******************HEADER***************************/

header{
	width:100%;
	background:rgba(255,255,255,0.5);
	padding: 50px 20px;
	display: flex;
	/*flex-direction: row;*/
	align-items: center;
	justify-content: space-between;
}

header .menu a{
	text-decoration: none;
	font-size: 18px;
	color:black;
	margin-right:40px;
}

header .menu a:hover{
	font-weight: bold;
}



/*******************PRINCIPAL***************************/

.flex-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 777px;
	background: #82E8B7;
}

/* COLUMNA 1*/

.banner, h1, .izquierda {
	width:70%;
	padding: 0 20px;
}


.banner img {
	width:100%;
	vertical-align: top;
}


h1 {
	font-weight: normal;
	font-size: 32px;
}

.izquierda {
	font-size: 14px;
	line-height: 27px;
	text-align: justify;
}
/* COLUMNA 2*/
.caja {
	width:30%;
	background:grey;
	padding: 20px;
	height: 259px;
}

.cajita{
	padding:80px 0;
	text-align: center;
	border:3px dashed black;
}


/*******************FOOTER***************************/

footer{
	background:rgba(255,255,255,0.5);
	padding: 30px 20px;
	width:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 16px;
}

footer .redes a{
	text-decoration: underline;
	color:black;
	margin-left: 20px;
}

footer .redes a:hover{
	text-decoration: none;
}

/*******************@MEDIA***************************/

@media screen and (max-width: 800px){

	header{
		justify-content:space-around;
	}

	header .menu a{
		margin-right:5px;
		font-size:16px;
	}

.flex-container {
	height: auto;
	flex-direction: row;

}

.banner {
	margin-top: 20px;
}
	.banner, h1, .izquierda {
		width:100%;
		margin-bottom: 20px;
	}

.caja {
	width: 33.3333333%;
	height: auto;
}
	.cajita {
		width:100%;
		padding:60px 0;
		font-size:10px;
	}

}


@media screen and (max-width:600px){
			header{
				flex-direction: column;
				padding: 20px 0;
			}

			header .menu{
				width:100%;
				text-align:center;
			}

			header .menu a{
				margin:0 20px;
			}

			header .logo{
				margin-bottom:20px;
			}
			footer {
				flex-direction:column;
				text-align:center;
			}
			footer .autor{
				border:1;
			}
			footer .redes{
				margin-bottom:20px;
			}


	}


@media screen and (max-width:400px){
	.caja {
		display: none;
	}
}
