* {
  margin:0;
	padding:0;
	box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

body {
  background-color: #DDE2E3;
}

header {
  width: 100%;
  background-color: #B6EF8A;
  padding: 2%;
  text-align: center;
}

h1 {
  color: white;
  font-weight: bolder;
}

.flex-container {
  display: flex;
  margin: auto;
  width: 50%;
  background-color: white;
}

.flex-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1%;
}

.side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 1%;
  background-color: #C38AEF;
  text-align: center;
}

h2 {
  width: 100%;
  margin-top: 10px;
}

.colBox {
  display: flex;
  flex-direction: column;
  margin: 8px auto;
}

label {
  font-weight: 600;
}

label, select {
  width: 250px;
}

select {
  height: 40px;
  border-radius: 4px;
  border-style: groove;
}

#confirm {
  height: 40px;
  color: white;
  font-weight: bolder;
  background-color: #8AB6EF;
}

#text-confirm {
  display: none;
}

p {
  font-size: 1em;
  margin: 8px auto;
}

p span {
  font-weight: 600;
}
