* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 0 2%;
  width: 100%;
  margin: 0 auto;
}

.breadcrumbs, .breadcrumbs li {
  display: inline-block;
}

.breadcrumbs li {
  margin-top: 25px;
  font-size: 14px;
}

.menu, figure .menu {
  float: right;
  margin-top: 1%;
}

}
.productos {
  text-align: center;
}

.productos figure {
  margin: 30px auto;
  text-align: center;
  width: 180px;
  height: 180px;
}

.productos figure img {
  max-width:100%;
  max-height:100%;
}


@media only screen and (min-width : 800px) {
  .breadcrumbs li {
    margin-top: 50px;
  }

  ul {
    margin-left: 50px;
  }
  .productos {
    margin: 5% auto;
    text-align: center;
 }
  .productos figure {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px 1%;
  }

  .productos figure img {
    width: 90%;
  }
}
